# Week 3 : String Expression, Methods, Formatting

### 2019 Summer

### Seungwoo Yang

## 1. Indexing & Slicing

### 1) 문자열 인덱싱

인덱싱(indexing): 가르킨다 = 문자열에서 몇 번째 문자가 무엇인지 찾아낸다.

- 문자열을 인덱싱하려면 변수+[번호]를 입력하면 된다.
- 주의(1): 파이썬은 문자열의 첫 문자를 '0'으로 센다.
- 주의(2): 파이썬은 공백도 문자열로 계산한다.

In [13]:
a = 'Life is too short, We gotta eat all we want'
print(a[1])
print(a[10])
print(a[2]*5)

i
o
fffff

In [18]:
#뒤에서부터 세기
print(a[-1])
print(a[-0])
print(a[-6])

t
L
e

### 2) 문자열 슬라이싱

슬라이싱(slicing): 잘라냄 = 문자열에서 '단어'를 추출

- 문자열을 슬라이싱 하기 위해선, 변수[시작번호:끝번호]를 입력한다.
- a[n:]은 n 번째 문자에서 끝까지를 출력한다.
- a[:n]은 처음부터 n 번째의 문자까지 출력한다.
- a[:] a에 해당하는 문자열을 모두 출력한다.
- a[n:-m] 인덱스와 마찬가지로 문자열의 뒤에서부터 문자를 셀수 있다.

In [25]:
print(a[0:3])
print(a[:3])
print(a[3:])
print(a[1:-1])

Lif
Lif
e is too short, We gotta eat all we want
ife is too short, We gotta eat all we wan

- 여기서 끝 번호 '3'에 해당하는 값은 half-open interval로서 계산에 포함되지 않는다.

▶ a[0:3]= 0 <= a < 3

#### 주의: 슬라이싱은 문자열의 수정을 할 때 사용할 수 없다 (오류 메세지 뜸)

In [27]:
a = 'pithon'
a[1] = y

NameError: name 'y' is not defined

In [29]:
#대안
a[0]+'y'+a[2:]

'python'

## 2. Formatting

문자열 내에 어떤 값을 대체하는 방법.

ex: 오늘부터 **David**은 Cybergym 회원입니다. ▶ 오늘부터 **Simon**은 Cybergym 회원입니다.

- %s: 어떤 문자열로 대체
- %c: 어떤 문자 한 개로 대체
- %d: 어떤 정수로 대체
- %f: 어떤 부동 소수로 대체
- %o: 어떤 8진수로 대체
- %x: 어떤 16진수로 대체
- %%: Literal%로 대체 (문자% 그대로 출력)

In [41]:
'이번에 새로 출시된 스마트폰중 단연코 가장 이목을 끌었던 기종은 %s이다' %'삼성갤럭시폴드'

'이번에 새로 출시된 스마트폰중 단연코 가장 이목을 끌었던 기종은 삼성갤럭시폴드이다'

In [43]:
'사람은 하루 평균 %d 시간은 자야 건강을 유지할 수 있다.' %7

'사람은 하루 평균 7 시간은 자야 건강을 유지할 수 있다.'

In [48]:
#변수대입
a=88
'그는 첫 시험에 %d점을 받았다.' %a

'그는 첫날 시험에 88점을 받았다.'

In [53]:
#여러개의 값 넣기
a=88
b=100
c=990
'그는 첫 시험에 %d점을 받았다. 이후 조금 더 공부해서 그는 %d점을 받았다. 꽤 잘한 것처럼 보이나 그 시험은 토익으로 %d점이 만점이다.' %(a,b,c)

'그는 첫 시험에 88점을 받았다. 이후 조금 더 공부해서 그는 100점을 받았다. 꽤 잘한 것처럼 보이나 그 시험은 토익으로 990점이 만점이다.'

In [58]:
#문자 % 그대로를 사용해야할 때
#%% 대신 %을 하나만 입력하면 오류 발생
'전국에서 수능 1등급을 받는 학생은 %d%%에 해당한다' %4

'전국에서 수능 1등급을 받는 학생은 4%에 해당한다'

### 2.1 Format 코드와 숫자 함께 쓰기

#### 1) 정렬과 공백

길이가 n개의 문자열 공간 안에서 특정 문자열을 공백과 함께 정렬하는 것.

In [66]:
#ex.1 오른쪽 정렬
'%10s' %'python'

'    python'

In [67]:
#ex. 2 왼쪽 정렬
'%-10s' %'python'
'%-3sI\'m Tracer, the calvalry is here!' %'Hi'

"Hi I'm Tracer, the calvalry is here!"

#### 2) 소수점 표현하기

In [68]:
#ex.1 원하는 자리까지만 표현하기
'%0.4f' %3.1415926535

'3.1416'

In [70]:
#ex. 2 전체 길이가 10개인 문자열에서 오른쪽 정렬한 4자리 소수점
'%10.4f' %3.1415926535

'    3.1416'

### 2.2 Format 함수 활용하기

#### 1) 숫자 대입

In [74]:
'I did my {0} pushups everyday since last year' .format(100)

'I did my 100 pushups everyday since last year'

#### 2) 문자열 대입

In [76]:
'I did my {0} pushups everyday since last year' .format('one hundred')

'I did my one hundred pushups everyday since last year'

#### 3) 변수 대입

In [78]:
number=100
'I did my {0} pushups everyday since last year' .format(number)

'I did my 100 pushups everyday since last year'

#### 4) 2개 이상의 값 넣기

In [80]:
number=100
number2=200
'I did my {0} pushups and {1} squats everyday since last year' .format(number, number2)

'I did my 100 pushups and 200 squats everyday since last year'

#### 5) 이름으로 넣기

In [82]:
'I did my {number} pushups and {number2} squats everyday since last year' .format(number=100, number2=200)

'I did my 100 pushups and 200 squats everyday since last year'

## 3. 문자열 관련 내장함수

### 1) count(a)

문자열 에서 (a)의 개수를 구한다.

In [85]:
a='Seoul National University'
a.count('s')
#대소문자를 구분함

1

### 2) find(a)

문자열 중 a가 처음으로 나오는 위치를 알려주는 함수. 만약 찾는 문자가 없으면 -1을 출력.

In [90]:
a='python'
a.find('y')

1

In [92]:
a.find('i')

-1

### 3) index(a)

기본적으로 find와 같은 기능을 하나, 찾는 문자가 없으면 오류가 발생한다.

In [93]:
a.index('h')

3

In [97]:
a.index('i')

ValueError: substring not found

### 4) join(a)

문자열 사이에 문자를 삽입할 때 쓰는 함수이다.

In [99]:
" ".join('Apple')

'A p p l e'

리스트에도 활용 가능

In [101]:
",".join(['a','b','c','d'])

'a,b,c,d'

### 5) upper()

대문자화 하는 함수.

In [103]:
a='Sam wants a Samsung phone'
a.upper()

'SAM WANTS A SAMSUNG PHONE'

### 6) replace

문자열 안의 특정 문자를 다른 문자로 대체하는 함수.

In [106]:
a='I bought LG V5 for her birthday gift'
a.replace('LG V5','Samsung Galaxy S10 plus' )

'I bought Samsung Galaxy S10 plus for her birthday gift'

### 7) split

문자열에서 단어 단위로 쪼개어 리스트로 만드는 함수.

In [108]:
a.split()

['I', 'bought', 'LG', 'V5', 'for', 'her', 'birthday', 'gift']

In [109]:
b = "1:2:3:4"
b.split(":")

['1', '2', '3', '4']